.home {
  width: 100%;
  height: 100vh;

  display: flex;

  padding-top: 95px;
}

.home__left-container {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-primary-color);
}

.home__text-content {
  text-align: center;
  padding: 1em;
}

.home__text-content > h1 {
  font-size: 3rem;
  font-weight: normal;
  color: var(--font-secondary-color);
  line-height: 1;

  margin-bottom: 0.5em;
}

.home__text-content > p {
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--font-secondary-color);

  margin: 0.75em 0 1em 0;
}

.home__divider-container {
  position: relative;
}

.fa-star {
  width: 2.25rem;

  color: var(--font-secondary-color);
}

.home__divider-container::before {
  content: '';

  width: 100%;
  max-width: 7rem;
  height: 0.25rem;

  position: absolute;
  top: 50%;
  right: 50%;

  transform: translateY(-50%);
  transform: translateX(-2rem);

  background-color: #fff;
  border-radius: 1rem;
}

.home__divider-container::after {
  content: '';

  width: 7rem;
  max-width: 40%;
  height: 0.25rem;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateY(-50%);
  transform: translateX(2rem);

  background-color: #fff;
  border-radius: 1rem;
}

.home__contact__container {
  margin-bottom: 1.9em;
}

.contact__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__list-item {
  display: block;
}

.contact {
  width: 100%;
  height: 100%;

  outline-color: white;
}

.contact__list-item + .contact__list-item {
  margin-left: 16px;
}

.button-link {
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
 
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    
    background-color: var(--main-secondary-color);
    padding: 15px 30px;
    border: 1px solid var(--main-secondary-color);
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    border-radius: 3.5px;
 
    transition: background-color .35s, opacity .35s;
}

.home__right-container {
  width: 50%;
  height: 100%;

  position: relative;

  background-color: var(--main-primary-color);
}

.home__right-container > img {
  width: 100%;
  height: 100%;

  position: absolute;

  object-fit: cover;

  opacity: 0.9;
}

@media(min-width: 1370px) {

  .home__right-container {
    background-size: 100%;
  }
}

@media(max-width: 911px) {
  .home {
    flex-wrap: wrap;
  
    padding-top: 59px;
  }

  .home__left-container {
    width: 100%;
    height: 50%;
  }

  .home__text-content > h1 {
    font-size: 2.5rem;
  }

  .home__text-content > p {
    font-size: 1.8rem;
  }

  .home__divider-container::before {
    width: 5rem;
  }

  .home__divider-container::after {
    width: 5rem;
  }

  .home__right-container {
    width: 100%;
    height: 50%;  
  }

  .home__right-container > img {
    position: absolute;

    object-position: 70% 75%;
  }
}

@media(max-width: 450px){
  .home__text-content > h1 {
    font-size: 2rem;
  }

  .home__text-content > p {
    font-size: 1rem;
  }

  .home__divider-container::before {
    width: 4rem;
  }

  .home__divider-container::after {
    width: 4rem;
  }

  .home__right-container > img {
    width: 100%;
    height: 100%;
  }
}