.interests {
  padding: 1rem;
}

.interests > h1 {
  font-size: 3em;

  position: relative;

  margin-bottom: 1em;
}

.interests > h1::before {
  content: '';

  position: absolute;
  bottom: -5px;

  width: 200px;
  height: 4px;

  background-color: var(--main-primary-color);
  border-radius: 4px;
}

.interests__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interest {
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.interest > img {
  width: 262.5px;
  height: 262.5px;

  object-fit: cover;
}

.interest > p {
  font-size: 2em;
  text-align: center;
}

@media(max-width: 500px) {
  .interest > img {
    width: 200px;
    height: 200px;
  }
}