.projects {
  padding: 1rem;
}

.projects > h1 {
  font-size: 3em;

  position: relative;

  margin-bottom: 1.5em;
}

.projects > h1::before {
  content: '';

  position: absolute;
  bottom: -5px;

  width: 190px;
  height: 4px;

  background-color: var(--main-primary-color);
  border-radius: 4px;
}

.carousel {
  width: 670px;

  position: relative;

  margin: 0 auto 2.5em;
}

.carousel__track-container {
  width: 640px;
  min-height: 640px;

  position: relative;

  color: var(--font-secondary-color);
  text-align: center;

  background: #464646;
  padding: 20px;
  border: 3px solid var(--main-primary-color);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0 auto;

  box-shadow: 
    0 0 0 5px #323232,
    0 0 0 10px var(--main-primary-color),
    0 0 0 15px #323232;
  
  overflow: hidden;
}

.carousel__track {
  width: 100%;
  min-height: 600px;

  position: relative;
  list-style: none;
}

.carousel__slide {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: -150%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: all 0.35s linear;
}

.carousel__slide--current-slide {
  right: 0;

  transition: all 0.35s linear;
}

.carousel__slide > * {
  margin-bottom: 1.2rem;
}

.carousel__slide > *:last-child {
  margin-bottom: 0;
}

.carousel__slide > p:first-of-type {
  font-size: 1.5rem;
}

.carousel__image {
  width: 100%;

  object-fit: cover;
}

.carousel__slide > p:last-of-type {
  font-size: 1rem;
}

.slide__button-link-container {
  display: flex;
  justify-content: center;
}

.slide__button-link-container > .button-link {
  display: flex;

  background-color: var(--main-primary-color);
  padding: 2.5px 5px;
  border-color: var(--main-primary-color);
}

.slide__button-link-container > .button-link + .button-link {
  margin-left: 0.6rem;
}

.slide__button-link-container > .button-link > img {
  margin-right: 0.5rem;
}

.carousel__button {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.carousel__button > img {
  width: 40px;
}

.carousel__button--left {
  position: absolute;
  left: -40px;
}

.carousel__button--right {
  position: absolute;
  right: -40px;
}

.carousel__nav {
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
}

.carousel__dot-indicator {
  width: 15px;
  height: 15px;  

  border: 0;
  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 12px;

  cursor: pointer;

  transition: background-color 0.25s ease-in;
}

.carousel__dot-indicator--current-slide {
  background-color: var(--main-primary-color);

  transition: background-color 0.15s linear;
}

.--hidden {
  display: none;
}

@media (max-width: 870px) {
  .carousel {
    width: 100%;
  }

  .carousel__track-container {
    width: 100%;

    background-color: transparent;
    padding: 0;
    border: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .carousel__slide {
    width: 100%;

    position: static;

    background: #464646;
    padding: 0.5rem;
    border: 4px solid var(--main-primary-color);
    border-radius: 12px;
    margin-bottom: 2rem;
  }

  .carousel__slide:last-child {
    margin-bottom: 0;
  }

  .carousel__button {
    display: none;
  }

  .carousel__nav {
    display: none;
  }
}