*, *::before, *::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
  color: var(--font-primary-color);
}

h1 {
  font-size: 1.4rem;
}

p, a {
  font-size: 1rem;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.75;

  transition: opacity .35s;
}