.skills {
  padding: 1rem;
}

.skills > h1 {
  font-size: 3em;

  position: relative;

  margin-bottom: 1em;
}

.skills > h1::before {
  content: '';

  position: absolute;
  bottom: -5px;

  width: 125px;
  height: 4px;

  background-color: var(--main-primary-color);
  border-radius: 4px;
}

.skills__content {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.skills__table {
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;

  border: 1px solid var(--main-primary-color);
  border-radius: 8px;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.skills__table__header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em 0.5em;
  border-bottom: 1px solid var(--main-primary-color);

  transition: 0.5s;
}

.skills__table__header-container > img {
  margin-right: 10px;
}

.skills__table__header-container > strong {
  font-size: 1.4em;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;

  padding: 0.5rem;
}

.tag {
  display: inline-block;

  color: var(--font-secondary-color);

  background-color: var(--main-primary-color);
  padding: 1em 0.8em;
  border-radius: 8px;
  margin: 0.25rem;
}

@media(max-width: 985px) {

  .skills__table {
    width: 45%;
  }

  .tags {
    font-size: 0.6rem;
    padding: 0.75em 0.4em;
    margin: 0.175rem;
  }

}

@media(max-width: 790px) {
  .skills__table {
    width: 40%;
  }
}
