.section-marker {
  position: absolute;
  top: -95px;
}

.dotted-pattern {
  border-bottom: 5px dotted var(--main-primary-color);
}

.floating-button {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: -100%;
  right: 32px;

  background-color: var(--main-primary-color);
  border-radius: 50%;

  opacity: 0;
  pointer-events: none;

  transition: all 0.45s linear;
}

.floating-button--active {
  bottom: 32px;

  opacity: 1;
  pointer-events: auto;
}

.floating-button__image {
  width: 32px;
  height: 32px;
}

@media (max-width: 911px) {
  .section-marker {
    top: -59px;
  }

  .floating-button {
    width: 36px;
    height: 36px;

    right: 16px;
  }
}

@media (max-width: 450px) {
  .floating-button {
    right: 8px;
  }
}